<header class="container-full">
  <!-- Presentation -->
   <div class="prime">
       <img src="/images/me-lg1.jpg" class="img-responsive img-circle animated bounceInDown">
       <div class="social-prime">
           <ul class="brands brands-inline animated bounceInRight">
               <li><a href="https://www.facebook.com/xavier.sumba" target="_blank"><i class="fa fa-facebook"></i></a></li>
               <li><a href="https://twitter.com/Xavier_Sumba" target="_blank"><i class="fa fa-twitter"></i></a></li>
           </ul>
           <h2 class="animated bounceInDown">Xavier Sumba</h2>
           <ul class="brands brands-inline animated bounceInLeft">
               <li><a href="https://plus.google.com/u/0/+xaviersumba/posts" target="_blank"><i class="fa fa-google-plus"></i></a></li>
               <li><a href="https://github.com/cuent" target="_blank"><i class="fa fa-github"></i></a></li>
           </ul>
       </div>
       <div id="activities" class="carousel slide vertical animated bounceInUp" data-ride="carousel">
           <div class="carousel-inner">
               <div class="item active">
                   <h3>Developer <i class="fa fa-code icon-color"></i></h3></div>
               <div class="item">
                   <h3>I <i class="fa fa-heart icon-heart"></i> sports</h3></div>
               <div class="item">
                   <h3>Let's go ride <i class="fa fa-bicycle icon-color"></i></h3></div>
               <div class="item">
                   <h3><i class="fa fa-user icon-color"></i> a.k.a: c.uent</h3></div>
           </div>
       </div>
       <div class="row" style="padding-top: 20px; padding-bottom: 20px;">
           <div class="col-xs-12 col-sm-6 position-button-right">
               <a href="#about" class="btn animated bounceInUp" role="button"><i class="fa fa-download"></i> Download CV</a>
           </div>
           <div class="col-xs-12 col-sm-6 position-button-left">
               <a href="mailto:c.uent@hotmail.com?Subject=Contact%20from%20portfolio" class="btn btn-active animated bounceInUp" role="button"><i class="fa fa-envelope"></i> Contact me</a>
           </div>
       </div>
     </div>
</header>
