<header id="mainHeader" class="container-full">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="/images/me-xs.png" class="navbar-logo pull-left img-circle" />
                <a class="navbar-brand" href="index.html">Xavier Sumba</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#about">About me</a></li>
                    <li><a href="#reference">Projects</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="prime">
        <img src="/images/me-xs.png" class="img-responsive img-circle animated bounceInDown">
        <div class="social-prime">
            <ul class="brands brands-inline animated bounceInRight">
                <li><a property="schema:url" href="https://www.facebook.com/xavier.sumba" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a property="schema:url" href="https://twitter.com/Xavier_Sumba" target="_blank"><i class="fa fa-twitter"></i></a></li>
            </ul>
            <h2 property="foaf:name schema:givenName" class="animated bounceInDown">Xavier Sumba</h2>
            <ul class="brands brands-inline animated bounceInLeft">
                <li><a property="schema:url" href="https://plus.google.com/u/0/+xaviersumba/posts" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                <li><a property="schema:url" href="https://github.com/cuent" target="_blank"><i class="fa fa-github"></i></a></li>
            </ul>
        </div>
        <div id="my-carousel" class="carousel slide vertical animated bounceInUp" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <h3>Developer <i class="fa fa-code icon-color"></i></h3></div>
                <div class="item">
                    <h3>I <i class="fa fa-heart icon-heart"></i> sports</h3></div>
                <div class="item">
                    <h3>Let's go ride <i class="fa fa-bicycle icon-color"></i></h3></div>
                <div class="item">
                    <h3><i class="fa fa-user icon-color"></i> a.k.a: c.uent</h3></div>
            </div>
        </div>
        <div class="row" style="padding-top: 20px; padding-bottom: 20px;">
            <div class="col-xs-12 col-sm-6 position-button-right">
                <a href="#about" class="btn animated bounceInUp" role="button"><i class="fa fa-smile-o"></i> Know me better</a>
            </div>
            <div class="col-xs-12 col-sm-6 position-button-left">
                <a href="mailto:c.uent@hotmail.com?Subject=Contact%20from%20portfolio" class="btn btn-active animated bounceInUp" role="button"><i class="fa fa-envelope"></i> Contact me</a>
            </div>
        </div>
</header>

<!-- <header class="site-header" role="banner">

  <div class="wrapper">
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}

    <a class="site-title" href="{{ "/" | relative_url }}">
      <img src="/images/me-xs.png" class="img-circle"></img>
      {{ site.title | escape }}
    </a>

    {% if page_paths %}
      <nav class="site-nav">
        <div class="trigger">
          {% for path in page_paths %}
            {% assign my_page = site.pages | where: "path", path | first %}
            {% if my_page.title %}
            <a class="page-link1" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
            {% endif %}
          {% endfor %}
        </div>
      </nav>
    {% endif %}
  </div>
</header> -->
