<nav class="navbar navbar-fixed-top container" role="navigation">
  <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
      data-target="#menu" aria-expanded="false" aria-controls="navbar">
          <!-- <span class="sr-only">Toggle navigation</span> -->
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand hidden-xs" href="{{ "/" | relative_url }}">
        <span><img src="/images/me-xs.png" width="45" height="45" class="img-circle"/></span>
        {{ site.title | escape }}
      </a>
  </div>
  <div id="menu" class="navbar-collapse collapse">
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}
    {% if page_paths %}
    <ul class="nav navbar-nav navbar-right">
          {% for path in page_paths %}
            {% assign my_page = site.pages | where: "path", path | first %}
            {% if my_page.title %}
    <li><a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>

            {% endif %}
          {% endfor %}
        </ul>
    {% endif %}

  </div>
</nav>
