// Image profile
img.rounded {
    border-radius: 50% !important;
}


// services

.services table td {
  font-size: 1rem;
  color: var(--global-text-color);
}

.services table th {
  color: var(--global-text-color);
}
