/******************************************************************************
 * Content
 ******************************************************************************/

@use "variables" as *;

 body {
   padding-bottom: 70px;
   color: var(--global-text-color);
   background-color: var(--global-bg-color);
 }

 body.fixed-top-nav {
   // Add some padding for the nav-bar.
   padding-top: 56px;
 }

 body.sticky-bottom-footer {
   // Remove padding below footer.
   padding-bottom: 0;
 }

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    display: block;
    width: min(100%, 240px);
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin: 0 auto;
  }
}

@media (min-width: 576px) {
  .profile {
    img {
      width: 100%;
      max-width: 260px;
    }
  }
}

// TODO: redefine content layout.


/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.


/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
